MONGO_URI=YOUR_MONGODB_URI

# Each JWT token is purpose-specific, ensuring that tokens cannot be used interchangeably. For instance, a 'forgot password' token cannot be used for account verification.
JWT_SECRET=JWT_SECRET
JWT_VERIFICATION_EMAIL_SECRET=JWT_VERIFICATION_EMAIL_SECRET
JWT_FORGOT_PASSWORD_SECRET=JWT_FORGOT_PASSWORD_SECRET
JWT_MIDDLEWARE_SECRET=JWT_MIDDLEWARE_SECRET

GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET


NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET

FRONTENT_URL=http://localhost:3000

# Use Gmail SMTP and provide your Gmail address along with the app password for authentication.
EMAIL_ACCOUNT=GMAIL_ADDRESS
EMAIL_PASSWORD=GMAIL_APP_PASSWORD
NOTIVO_EMAIL=notivo@notivo.in